html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: space-between;
}

/* left-side-bar-container */
#left-side-bar-wrapper {
  background-color: #1e90ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 120px;
}

.left-side-bar-button {
  appearance: none;
  border: 1px solid transparent;
  outline: 0;
  background-color: transparent;
  text-align: center;
  content: 20px 20px 20px 20px;
  width: 100%;
  border-bottom: 1px solid wheat;
}
.left-side-bar-button:hover {
  background-color: lightblue;
}
.left-side-bar-button:active {
  background-color: red;
}
.left-side-bar-button p {
  color: white;
  font-weight: bold;
}

/* content-area-container */
#outer-box-wrapper {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 1000px;
  margin-top: 50px;
  flex-direction: row;
}

#outer_box {
  border: 3px solid gray;
  background-color: whitesmoke;
  height: 550px;
  width: 100%;
}

/* panel-head-container */
#boxtitle-and-time-wrapper {
  margin: 30px 0px 0px 25px;
}

#box-title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

#server-time-wrapper {
  display: flex;
  margin-top: 20px;
}

#server-time {
  margin-left: 10px;
}

/* panel-button-container */
.panel-button {
  background: #1aab8a;
  color: #fff;
  border: none;
  position: relative;
  height: 50px;
  font-size: 1.2em;
  width: 130px;
  padding: 0 1em;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
.panel-button:hover {
  background: #fff;
  color: #1aab8a;
}
.panel-button:before,
.panel-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #1aab8a;
  transition: 400ms ease all;
}
.panel-button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.panel-button:hover:before,
.panel-button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

/* other accessory */
#divide-line {
  width: 98%;
  height: 1px;
  margin: 10px 0px 0px 10px;
  right: 10px;
  background-color: lightgray;
}
