/* panel-info */
#device-info-set-wrapper {
  margin: 30px 0px 30px 25px;
}

#device-info-wrapper {
  margin: auto;
}

.device-info-wrapper > p {
  margin: auto;
  float: left;
  background-color: #fff;
  border-radius: 10px;
  border-end-end-radius: 0px;
  border-right: 3px solid greenyellow;
  width: 100px;
  height: 40px;
}

#device-value1-data,
#device-value2-data,
#device-value3-data,
#device-value4-data {
  background-color: lightgoldenrodyellow;
  margin-left: 110px;
  width: 80%;
  height: 30px;
}

#device-value1-set-wrapper {
  margin-top: 20px;
}

#device-value2-set-wrapper,
#device-value3-set-wrapper,
#device-value4-set-wrapper {
  margin-top: 35px;
}

/* panel-button-container */
#panel-button-wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

#list-button {
  margin-left: 25px;
}

#update-button {
  margin-left: 43%;
}

#delete-button {
  margin-right: 25px;
}
