/* section::: panel-table */
#table_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px 0px 0px;
}

table,
td,
th {
  border-collapse: collapse;
  text-align: center;
  font-size: 15px;
  border: solid 1.5px gray;
  background-color: #fff;
}

table {
  table-layout: fixed;
  width: 95%;
}

th,
tr,
td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0px 10px;
  height: 40px;
}

th {
  border-bottom: 3px double gray;
}

#grafana-of-device,
#device-detail-info {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

/* panel-button-container */
#panel-button-wrapper {
  margin: 40px 0px 0px 25px;
}
