/* section - panel-input */
#device-info-set-wrapper {
  margin: 30px 0px 0px 25px;
}

.device-info-wrapper {
  margin: auto;
}

.device-info-wrapper > p {
  margin: auto;
  float: left;
  background-color: #fff;
  border-radius: 10px;
  border-end-end-radius: 0px;
  border-right: 3px solid greenyellow;
  width: 100px;
  height: 40px;
}

#device-ip-set-wrapper,
#device-port-set-wrapper,
#device-desc-set-wrapper {
  margin-top: 35px;
}

#device-ip-input,
#device-port-input,
#device-name-input,
#device-desc-input {
  margin-left: 10px;
  width: 50%;
  height: 30px;
}

/* panel-button-container */
#panel-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  right: 200px;
}

#list-button {
  margin-left: 25px;
}

#update-button {
  margin-right: 25px;
}
