<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',
    filename='css/common.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/select_grafana_of_device.css') }}"
    />
    <title>Grafana of device</title>
  </head>
  <body>
    <section id="left-side-bar-container">
      <div id="left-side-bar-wrapper">
        <button
          id="left-side-bar-button-main"
          class="left-side-bar-button"
          type="button"
        >
          <p>Main</p>
        </button>
        <button
          id="left-side-bar-button-snmp"
          class="left-side-bar-button"
          type="button"
        >
          <p>SNMP 관리</p>
        </button>
        <button
          id="left-side-bar-button-meraki"
          class="left-side-bar-button"
          type="button"
        >
          <p>Meraki 관리</p>
        </button>
      </div>
    </section>

    <section id="content-area-container">
      <div>{{ grafana_dashboard | safe }}</div>
    </section>

    <section id="right-side-dummy-container">
      <div id="right-side-dummy"></div>
    </section>

    <script>
      $("#left-side-bar-button-main").click(function () {
        $(location).attr("href", "/visualization/main_view");
      });

      $("#left-side-bar-button-snmp").click(function () {
        $(location).attr("href", "/snmp_device/list_view");
      });

      $("#left-side-bar-button-meraki").click(function () {
        $(location).attr("href", "/meraki_device/list_view");
      });
    </script>
  </body>
</html>
